
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# Environment variables
.env

# Data
data/movies_with_embeddings.csv
# We typically don't commit large generated datasets, but user asked for previous steps. 
# However, for git, usually we ignore large data files.
# Let's ignore the large csvs to keep repo clean, unless user specifically asked to commit them?
# "save the csv so I dont have to do this again" was about creating the file.
# If I try to commit 500MB+ csvs, git might complain or be slow.
# I will ignore the large data files and the py scripts we used for automation.

data/*.csv
!data/.gitkeep

# Temp scripts
modify_notebook.py
verify_data_loading.py
generate_embeddings.ipynb
